/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700;800&display=swap');

/* Componentes */
@import url(header.css);
@import url(buttons.css);

/* Resete CSS */
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}

.container {
    width: 1024px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}